!

! Golden Config Intended Configuration

! Device: {{ obj.name }}

!
 
hostname {{ obj.name }}
 
{% if config_context.gc.ip_routing %}

ip routing

{% endif %}
 
{% if config_context.gc.ssh_timeout is defined %}

ip ssh time-out {{ config_context.gc.ssh_timeout }}

{% endif %}
 
{% if config_context.gc.ssh_source_interface is defined %}

ip ssh source-interface {{ config_context.gc.ssh_source_interface }}

{% endif %}
 
no ip http server

ip http secure-server
 
{% if config_context.gc.dns.servers is defined %}

{% for dns in config_context.gc.dns.servers %}

ip name-server {{ dns }}

{% endfor %}

{% endif %}
 
{% if config_context.gc.ntp.servers is defined %}

{% for server in config_context.gc.ntp.servers %}

ntp server {{ server }}

{% endfor %}

{% endif %}
 
end
 